* {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.div {
    background-color: rgba(155, 135, 99, 0.49);
    margin: 30px;
    padding: 30px;
    direction: rtl;
    border-radius: 30px;
    color: rgba(53, 47, 37, 0.896);
}

.sub_1 {
    font-size: 20px;
}

.sub_3 {
    color: rgba(46, 44, 44, 0.553);
    text-align: center;
    font-size: 21px;
}

.bt {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.head {
    background-color: sienna;
    height: 40px;
    font-size: 25px;
    color: white;
}
span{
    text-align: center;
}
i{
    color: white;
    position: absolute;
    translate: -470px 5px ;
}
a{
   text-decoration: none;
    /* display: flex; */
 position: relative;
   align-items: center;
}